// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-cont{
  width: 250px;
  height:300px;
  margin: 50px auto;
}

.grad-line {
  height: 8px;
  background: linear-gradient(to right, lightblue, darkblue);
}

.session-form {

  padding: 50px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
  text-align: center;
}

.session-form > h1 {
  margin: 0 auto;
  text-align: center;
}

.session-form form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.session-form form label input{
  font-size: 15px;
}

.session-form form h6 {
  height: 13px;
  font-size: 13px;
  color: red;
}

.session-form form button {
  margin-top: 8px;
  height: 20px;
  color: white;
  border-radius: 4px;
}

.session-redirect {
  margin-top: 20px;
}
