// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

div {
  display: block;
}

.session-cont{
  width: 350px;
  height: 500px;
  margin: 0 auto;
}

.session-cont h1 {
  text-align: center;
  margin-top: 5px;
}

.session-form {
  text-align: center;
}

.grad-line {
  height: 6px;
  background: linear-gradient(to right, lightblue, darkblue);
  border-radius: 4px 4px 0 0 ;
}

.session-form > form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  border-radius: 4px;
  width: 135px;
  margin: 0 auto;
  margin-top: 27px;
  width: auto;
}

.auth-form {
  padding: 20px;
  height: 320px;
}

.auth-form > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.auth-form .input-block{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.input-block {
  display: block;
  width: 100%;
  background-position: right 8px center;
  min-height: 34px;
  padding: 6px 8px;
  line-height: 20px;
  font-size: 14px;
  text-align: left;
}

.session-form form h6 {
  height: 13px;
  font-size: 13px;
  color: red;
  font-size: 14px;
  min-height: 24px;
}

.session-form button {
  color: white;
  border-radius: 4px;
  min-height: 34px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.04);
  background-color: lightblue;
  border: 1px solid lightblue;
  background-image: linear-gradient(#00bfff, #0032cd);
  margin-top: 50px;
}

.session-form form button:hover {
  cursor: pointer;
}

.session-redirect {
  margin-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.session-redirect h5 {
  margin-top: 5px;
}

.session-redirect button {
  min-height: 30px;
  margin-top: 10px;
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
