.authenticated-body {
  line-height: 1.5;
  min-height: 100vh;
  min-width: 100vw;
}



.home-main-body {
  max-width: 980px;
  margin: 0 auto;
  min-height: 300px;
  height: 80vh;
  display: block;

  .simple-wrap {
    padding: 10px;
    display: block;
    height: 100%;
    width: 100%;

    .simple-view {
      display: block;
      height: 100%;
      width: 100%;

      ul {
        display: flex;
        justify-content: space-around;
        vertical-align: text-bottom;

        li {
          width: 140px;
          height: 80px;
          color: white;
          background: black;
        }

        li:hover {
          background: lightgrey;
          cursor: pointer;
        }
      }
    }
  }
}
