// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-pre-body {
  max-width: 980px;
  margin: 0 auto;
  min-height: 300px;
  height: 100vh;
  display: block;

  .group-main-body {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: 100%;

    .chapter-header {
      width: 100%;
      height: 150px;
      background: lightyellow;

      .chapter-banner {
        height: 75%;
        padding: 10px;
        background: lightgreen;
      }

      .chapter-nav {
        height: 25%;
        background: red;
      }
    }

    .group-margin-div {
      height: 8px;
      background: green;
    }

    .group-context {
      display: block;
      background: lightgrey;
    }
  }
}
