.find-nav-bar {
  width: 80%;
  margin: 0 auto;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: black;
  color: white;
  border-radius: 4px;
  height: 58px;


  .find-inside {
    width: 70%;

    .find-form {
      display: flex;
      justify-content: space-between;
      margin-left: 8px;
      align-items: center;

      input {
        background: white;
        border-radius: 2px;
        font-size: 15px;
        padding: 4px;
        padding-left: 8px;
        color: black;
        width: 50%
      }
    }
  }

  .group {
    width: 30%;
    display: flex;
    justify-content: space-between;
    height: 70%;
    margin: 10px;
    font-size: 18px;
    font-weight: 100;

    div {
      border-radius: 2px;
      align-items: center;
      width: 50%;
      border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      a:hover {
        text-decoration: none !important;
      }
    }

    div:hover {
      transform: scale(0.98);
      background-color: $dark-gray;
    }
  }

  .event {
    width: 30%;
    display: flex;
    justify-content: space-between;
    height: 70%;
    margin: 10px;
    font-size: 18px;
    font-weight: 100;

    div {
      border-radius: 2px;
      align-items: center;
      width: 50%;
      border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

    }

    div:hover {
      transform: scale(0.98);
      background-color: $dark-gray;
    }
  }
}
