.home-pre-body {

  section {
    border-bottom: 1px solid $dark-gray;
    background-color: #4d4f50;
    color: white;
    margin-top: 61px;

    .find-header {
      width: 80%;
      margin: 0 auto;
      font-size: 40px;
      font-weight: 800;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      min-height: 200px;

      h3 {
        font-size: 20px;
        font-weight: 200;
      }
    }
  }
}
