.groups-index-item {

  border-radius: 2px;

  display: flex;
  flex-direction: column;

  width: 260px;
  height: 200px;
  cursor: pointer;
  margin: 0 auto 20px auto;

  .group-item-background {
    background-position: center;
    background-size: cover;
    height: 75%;
  }

  h4 {
    margin-right: 10px;
    font-family: $roboto;
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    text-align: center;
  }

  p {
    margin: 5px;
    font-size: 12px;
    text-align: center;
  }
}
