
.video-wrap {
  background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1478635338/khei1n7akefof3i4zcc5.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;

  .content-chunk {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 800;
      font-size: 45px;
      color: white;
    }

    div {
      display: flex;
      justify-content: center;
      margin-top: 5px;

      button {
        font-size: 20px;
        width: 40%;
      }
    }
  }
}
