
.video-wrap {
  background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1478634760/we71o75yh9rs02ufodf9.jpg");
  display: flex;
  height: 75vh;
  min-width: 320px;
  min-height: 480px;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
  margin-top: 61px;
  position: relative;
  align-items: center;

  .content-chunk {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0 auto;

    .header-contents {
      color: white;

      h1 {
        font-family: $roboto-slab;
        font-weight: 100 !important;
        font-size: 40px;
        font-style: none;
        margin-bottom: 45px;
      }

      p {
        font-family: $roboto;
        margin: 10px;
        text-align: center;
        font-weight: 100;
        font-size: 20px;
      }

      div {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        button {
          width: 300px;
          font-size: 20px;
          color: white;
          font-weight: 200;
          height: 55px;
          margin: 0 auto;
          padding-top: 15px;
          border: none;
          background: $green;
          opacity: 0.9;
        }

        button:hover {
          background-color: $lgreen;
        }
      }
    }
  }
}
.header-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}
