.profile {
  position: relative;
  display: inline-block;

  button {
    width: 100%;
    background-color: $green;
    color: white;
    border-radius: 5px;
    font-weight: 200;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 0;
  }

  button:hover {
    background-color: $lgreen;
  }

  a:hover a:focus {
    background-color: #3e8e41;
  }



  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px;
    background: $dark-gray;
    opacity: 0.8;
    color: white;

    a {
      padding: 5px;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      background: $white;
      color: black;
      transition: background 0.5s ease;
      transition: color 0.5s ease;
    }

    a {
      height: 100%;
    }

  }
}
