.viewport {
  width: 100%;
  color: #333;
  height: 100%;

  .carousel-item-div {

    a {
      height: 50px;
      width: 100px;
    }
  }
}

.slick-list {

  .slick-track {
    height: 100px;
    width: 150px;
    margin-right: 10px;
  }
}

.slick-slide {
  display: flex;
  align-items: center;
  padding: 10px;
}
