.viewport {
  width: 100%;


  .carousel-item-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .carousel-item {
      height: 50px;
      width: 150px;
      font-size: 20px;
      text-decoration: none;
      font: $roboto;
    }

    .carousel-image {
      height: 250px;
      background-position: center;
    	background-size: cover;
    	background-repeat: repeat;
    }
  }
}

.slick-list {
  height: 300px;
  .slick-track {

    width: 150px;
    margin-right: 10px;
  }
}

.slick-slide {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 2px;
  font-weight: 500;
  font-family: $roboto;

  .slick-item {
    display: flex;
    align-items: center;
  }

}
