.main-footer {
  display: flex;
  flex-direction: column;
  background: $light-gray;
  opacity: 0.8;
  color: $gray;
  font: $roboto;
  font-weight: 300;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  width: 100%;
  font-weight: 800;
  height: 25vh;
}

.main-footer:hover {
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: 80%;
  height: 50%;
  font-style: $roboto;
  font-weight: 100;
  font-size: 15px;
  color: black;

  div {
    margin-left: 11px;

    a {
      cursor: pointer;
    }

    button {
      font-size: 10px;
    }
  }
}

.footer-mid {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50%;
  bottom: 0;
  font-style: $roboto;
  font-weight: 100;

  ul {
    display: flex;
  }

  li {
    margin: 5px;
    margin-right: 15px;

    i {
      cursor: pointer;
      margin-left: 5px;
    }

    i:hover {
      transform: scale(1.5);
    }
  }

  div {
    margin-bottom: 13px;
  }
}
