.create {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-size: 30px;


  button {
    margin: 10px;
    width: 100px;
    background: $light-gray;
    color: black;
    height: 30px;
  }

  button:hover {
    color: white;
    background: $dark-gray;
    transition: color 0.5s ease;
    transition: background 0.5s ease;
  }
}

.create-header {
  margin-top: 61px;
  border: 1px solid black;
  min-height: 500px;
  color: white;
  background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1478721054/photo-1470753323753-3f8091bb0232_prkyyz.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .body {
    align-items: center;
    font-weight: 100;
    position: relative;
    z-index: 50;
    margin-top: -198px;
    color: $white;
    font-size: 70px;
    text-shadow: -1px -1px 0px rgba(150, 150, 150, 1);
  }

  .header-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
  }

  h2 {
    margin: 0;
  }

  h4 {
    text-align: center;
    margin: 0;
    font-size: 23px;
  }
}

.create-body {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//when the location is selected display next button

.location {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    height: 80%;

    h6 {
      color: $gray;
      font-size: 12px;
      margin: 10px;
    }
    .error {
      color: red;
    }

    h2 {
      text-align: left;
      font-weight: 100;
      margin: 10px;
    }

    div {
      margin: 10px;
      border-bottom: 1px solid black;
    }

  }

}

.next-body {
  height: 80vh;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .name {
    display: flex;
    flex-direction: column;
    height: 35%;

    h6 {
      color: $gray;
      font-size: 12px;
      margin: 10px;
    }

    h2 {
      text-align: left;
      font-weight: 100;
      margin: 10px;
    }

    input {
      border-bottom: 1px solid black;
      border-radius: 1px;
      width: 80vw;
      padding: 5px 0;
      font-size: 24px;
      font-weight: 100;
      margin: 10px;
    }
  }

  .descriptions {
    height: 65%;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: left;
      font-weight: 100;
      margin: 10px;
    }

    textarea {
      border: 1px solid black;
      font-size: 15px;
      width: 450px;
      height: 150px;
      padding: 10px 10px;
      margin: 10px;
    }
  }

}


.errors {
  background: $green;
  padding: 15px 10px;

  h6 {
    margin: 10px 10px;
    font-size: 20px;
    color: red;
  }
}
