.group-content {
  height: 80vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 61px;

  .group-main-content {
    width: 80%;
    padding: 1.25em;

    .head {
      border-radius: 3px;
      background-color: #fff;
      margin-bottom: 16px;
      border: 1px solid rgba(0,0,0,.12);
      background-clip: padding-box;
      height: 25%;

      .banner {
        border-bottom: 8px solid rgba(255,255,255,.25);
        height: 80%;
      }

      .nav {
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3px;

        .left {
          margin-left: 10px;
          min-width: 50%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .body {
      min-height: 80vh;
      display: flex;

      .sidebar {
        height: 500px;
        width: 20%;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 5px;
        border: 1px solid black;

        div {
          margin: 10px 5px;
        }
      }

      .group-show-page {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .description {
          height: 30%;
          margin: 10px;
        }

        .children{
          margin: 10px;
          height: 70%;
        }
      }

      .show-children {
        width: 80%;
        display: flex;
        flex-direction: column;

        .description {
          display: none;
          height: 30%;
          margin: 10px;
        }

        .children{
          margin: 10px;
          height: 70%;
        }
      }
    }

  }
}
