.group-lists {
  margin: 0 auto;
  margin: 0 5px;
  margin-top: 20px;
  min-height: 60vh;

  .groups-index {
    width: 100%;

    .group-index-masonry {
      min-width: 100%;

      li {
        margin: 10px;
      }
    }
  }
}
