.create-header {
  border-bottom: 1px solid black;
  background-image: url("https://res.cloudinary.com/dsetpdsls/image/upload/v1478721054/photo-1470753323753-3f8091bb0232_prkyyz.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.group-form {
  padding-top: 40px;
}
