.group-content {
  height: 80vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 61px;

  .group-main-content {
    width: 80%;
    padding: 1.25em;

    .head {
      border-radius: 3px;
      background-color: #fff;
      margin-bottom: 16px;
      border: 1px solid rgba(0,0,0,.12);
      border-bottom: 1px solid rgba(255,255,255,.25);
      background-clip: padding-box;
      height: 25%;

      .banner {
        border-bottom: 8px solid rgba(255,255,255,.25);
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
      }

      .nav {
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3px;
        border: 4px solid black;

        .left {
          margin-left: 10px;
          min-width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            text-decoration: none;
          }
        }
      }
    }

    .body {
      display: flex;
      height: 400px;

      .sidebar {
        width: 30%;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px;
        border: 1px solid black;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);

        div {
          margin: 10px 5px;
        }
      }

      .group-show-page {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 20px 5px;
        border: 1px solid black;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);

        .description {
          height: 30%;
          margin: 10px;
          display: flex;
          flex-direction: column;

          ul {
            margin: 20px;
          }
        }

        .children{
          margin: 10px;
          height: 70%;
        }
      }

      .show-children {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
        border: 1px solid black;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);

        .description {
          display: none;
          height: 30%;
          margin: 10px;
        }

        .children{
        }
      }
    }

  }
}

.left {
  height: 100%;

  .menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menu-item:hover {
    transform: scale(1.02);
    transition: border-width 0.1s ease-in-out;
    border-bottom: 5px solid #74a8c3;
  }

  .menu-item:active {
    border-bottom: 5px solid #74a8c3;
  }

  .menu-item.active {
    border-bottom: 5px solid #74a8c3;
  }
}
