.group-lists {
  display: flex;
  margin: 0 auto;
  margin: 0 5px;
  margin-top: 20px;
  min-height: 60vh;

  .groups-index {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
}
