.navbar-inverse {
  background-color: #fff;
  color: #878c94;
  padding: 10px;
}

.navbar-brand {
  padding: 8px 40px;
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  z-index: 11;
  margin: 0 auto;
  color: black !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: inherit;

  h3 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
    font-size: 35px;
  }
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid #000;;
  border-radius:0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 11px;
}

.form-control{
  border-color:#fff;
  border-radius:0px;
  background-color:transparent;
}

.nav-profile {
  button {
    background-color: transparent;
    &:focus, &:hover { background-color: #eee; }
  }
  img { margin-right: 10px; }
  .fa { cursor: pointer; padding: 5px; }
  .dropdown-logout { text-decoration: none; cursor: pointer; }
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 54px;

  a { margin: 0 5px; }
}
