.session-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  i {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  i:hover {
    transform: scale(1.1);
  }

  h1 {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.session-form {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-bottom: 40px;
}

.session-form {

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    border-radius: 4px;
    width: 135px;
    margin: 0 auto;
    margin-top: 27px;
    width: auto;

    .grad-line {
      height: 6px;
      background: linear-gradient(to right, lightblue, darkblue);
      border-radius: 4px 4px 0 0 ;
    }

    .auth-form {
      padding: 20px;
      height: 320px;

      div {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 300px;
      }

      .input-block{
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: auto;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        border-radius: 4px;
        background-position: right 8px center;
      }

      label {
        font-weight: 100;
        text-align: left;
      }

    }

    button {
      color: white;
      border-radius: 4px;
      min-height: 34px;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.04);
      background-color: lightblue;
      border: 1px solid lightblue;
      background-image: linear-gradient(#516e92, #0f1721);
      margin-top: 27px;
      font-weight: 200;
      font-size: 18px;
    }

    button:hover {
      transform: scale(0.98);
    }
  }
}

.input-block {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px 8px;
  line-height: 20px;
  text-align: left;
}



.session-redirect {
  margin-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;

  h5  {
    margin-top: 5px;
    font-weight: 100;
    font-size: 15px;
  }

  button {
    min-height: 30px;
    margin-top: 10px;
    background: linear-gradient(#516e92, #0f1721);
    color: white;
    font-weight: 200;
  }

  button:hover {
    transform: scale(0.98);
  }

  .guest-button {
    width: 100px;
  }
}
