.splash-view-body {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    height: auto;
    position: relative;

    .video-wrap {
      position: relative;
      margin-bottom: 20px;
    }

    .events-wrap {
      margin: 0 auto;
      width: 80%;

      .splash-events {
        margin: 40px 5px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.splash-events-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 20px;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 35px;
  }

  a {
    font-size: 20px;
    margin-right: 20px;
    color: #5c5c5c;
  }

  a:hover {
    color: #0099ff;
    text-decoration: none;
    text-transform: none;
  }
}
