.splash-view-body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  main {

    height: auto;
    position: relative;

    .video-wrap {
      margin-bottom: 20px;
    }

    .events-wrap {
      margin: 10px 4px 4px 0;
      margin: 0 auto;
      width: 80%;

      .splash-events {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.splash-events-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 20px;

  a {
    align-items: center;
    font-size: 15px;
    color: blue;
  }
}
