.global-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;

  list-style: none;
  font-size: 18px;
  height: 60px;
}

.header-logo {
  margin-left: 50px;
}
.global-header ul {
  display: flex;
  justify-content: space-around;
  width: 160px;
  margin-right: 20px;
}

.global-header ul li {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500px;
  font-size: 15px;

}

.session-sign-up {
  background: linear-gradient(orange, red);
}
