.global-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;

  list-style: none;
  font-size: 18px;
  height: 60px;
  z-index: 3;
}

.header-logo {
  margin-left: 50px;
}

.header-logo:hover {
  cursor: pointer;
}

.header-clickables ul {
  display: flex;
  justify-content: space-around;
  width: 240px;
  margin-right: 20px;
}

.header-clickables li {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  border-radius: 4px;


  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

.header-clickables > button {
  font-size: 20px;
}
.header-sign-up {
  background: green;
  color: white;
}

.header-log-in {
  background: white;
  color: black;
}

.header-clickables li:hover {
  cursor: pointer;
  background: lightgreen;
}


.header-sign-up:hover {
  background: orange;
}
