.profile-main-div {
  max-width: 980px;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
}

.profile-div {

}

.upload-image-button {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
}
