.splash-view {
  min-height: 100vh;
  min-width: 100vw;
}

.video-wrap {
  background: white url(giphy.gif) repeat-y;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 500px;
}

.events-name {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  font-size: 23px;
}

.events-name a {
  color: blue;
  font-size: 20px;
}

.see-all {
  padding-top: 10px;
}

.events-name a:hover {
  cursor: pointer;
}

.splash-video {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
}

.events-wrap {
  padding: 16px;
}
